* {
	margin: 0;
	padding: 0;
    font-size: 10px;
	box-sizing: border-box;
}

body {
	background-image: url(./assets/background.png);
}

.wrapper {
	height: 35rem;
	margin: 5rem auto 0;
	width: 70rem;
}

img{
    width: 70rem;
}

.slider {
    height: inherit;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    display: grid;
    background-color: #ddd;
}

.wrapper > input {
	display: none;
}

.slides {
	height: inherit;
}

.slide1 { 
    grid-area: slide1;
    z-index: 1;
}
.slide2 { 
    grid-area: slide2;
    opacity: 0;
}
.slide3 { 
    grid-area: slide3;
    opacity: 0;
}
.slide4 { 
    grid-area: slide4;
    opacity: 0;
}

.slide-footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.slides-text{
    overflow: hidden;
    width: inherit;
}

.text{
    display: none;
    font-size: 1.6rem;
}

.controls{
    display: flex;
    column-gap: 0.5rem;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.radio-button{
    height: 1.5rem;
    width: 1.5rem;
    margin: 2px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #8f8b8b;
    box-shadow: 0em 0em 0.2em black;
}

label:hover .radio-button{
    background-color: #473f3f;
    border: 2px solid #473f3f;
    opacity: 0.85;
    transition: 0.3s;
}

label:active .radio-button{
    transition: 0.5s;
    box-shadow: none;
}

#slide1:checked ~ .slide-footer > .controls > label[for="slide1"] > .radio-button,
#slide2:checked ~ .slide-footer > .controls > label[for="slide2"] > .radio-button,
#slide3:checked ~ .slide-footer > .controls > label[for="slide3"] > .radio-button,
#slide4:checked ~ .slide-footer > .controls > label[for="slide4"] > .radio-button{
    background-color: #8f8b8b;
}

#slide1:checked ~ .slider > .slide1{
    z-index: 1;
    opacity: 1;
    transform: scale(1.1);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide1:checked ~ .slider > .slide2,
#slide1:checked ~ .slider > .slide3,
#slide1:checked ~ .slider > .slide4{
    z-index: 0;
}

#slide2:checked ~ .slider > .slide2{
    z-index: 1;
    opacity: 1;
    transform: scale(1.1);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide2:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide3,
#slide2:checked ~ .slider > .slide4{
    z-index: 0;
}

#slide3:checked ~ .slider > .slide3{
    z-index: 1;
    opacity: 1;
    transform: scale(1.1);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide3:checked ~ .slider > .slide1,
#slide3:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide4{
    z-index: 0;
}

#slide4:checked ~ .slider > .slide4{
    z-index: 1;
    opacity: 1;
    transform: scale(1.1);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide4:checked ~ .slider > .slide1,
#slide4:checked ~ .slider > .slide2,
#slide4:checked ~ .slider > .slide3{
    z-index: 0;
}