* {
	margin: 0;
	padding: 0;
    font-size: 10px;
	box-sizing: border-box;
}

body {
	background-image: url(./assets/background.png);
}

.wrapper {
	height: 35rem;
	margin: 5rem auto 0;
	width: 70rem;
}

.slider {
    height: inherit;
	overflow: hidden;
	width: inherit;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.wrapper > input {
	display: none;
}

.slides {
	height: inherit;
}

.slide1 { background-image: url(./assets/1.jpg); background-size: 700px;}
.slide2 { background-image: url(./assets/2.jpg); background-size: 700px;}
.slide3 { background-image: url(./assets/3.jpg); background-size: 700px;}
.slide4 { background-image: url(./assets/4.jpg); background-size: 700px;}

.slide-footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slides-text{
    overflow: hidden;
    width: inherit;
}

.text{
    display: none;
    font-size: 1.6rem;
}

.controls{
    display: flex;
    column-gap: 0.5rem;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.radio-button{
    height: 1.5rem;
    width: 1.5rem;
    margin: 2px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #8f8b8b;
    box-shadow: 0em 0em 0.2em black;
}

label:hover .radio-button{
    background-color: #473f3f;
    border: 2px solid #473f3f;
    opacity: 0.85;
    transition: 0.3s;
}

label:active .radio-button{
    transition: 0.5s;
    box-shadow: none;
}

#slide1:checked ~ .slide-footer > .controls > label[for="slide1"] > .radio-button,
#slide2:checked ~ .slide-footer > .controls > label[for="slide2"] > .radio-button,
#slide3:checked ~ .slide-footer > .controls > label[for="slide3"] > .radio-button,
#slide4:checked ~ .slide-footer > .controls > label[for="slide4"] > .radio-button{
    background-color: #8f8b8b;
}


